DEEPSEEK_API_KEY=123
SECRET_KEY=123456

# DATABASE_URL = postgresql+psycopg://
# postgres:123456@db:5432/my_chat_db


POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456