# API KEY
DEEPSEEK_API_KEY=123456

# Superuser
SUPERUSER_NAME=Jack
SUPERUSER_PASSWORD=changethis

# JWT
SECRET_KEY=123456

# DB
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456